*{
    background-color: white;
}

header {
    border-bottom: 1px grey;
    height: 4rem;
  }

.logo {
    margin-left: 1.5625rem;
    height: 2rem;
}

link--cta{
    margin-left: 1rem;
}

@media screen {max-width;
    
}